*
*::before
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: Dark;
}

body {
    background-image: url(background-img/adogs.jpg);
    margin: 0;
    padding: 0;
    background-position: center;
}

.about-pacetech {
    max-width: 150rem;
    margin-inline: auto;
    padding-left: 5px;
    line-height: 1.5;
}

.abt {
    max-width: 150rem;
    padding-inline: 2rem;
    position: relative;
    content: "";
}

.abt h1 {
    position: relative;
    display: flex;
    font-weight: 700;
    color: rgb(50, 30, 165);
    padding-left: 25rem;
}

.abt p {
    font-size: 21px;
    font-style: italic;
    display: flex;
    text-align: justify;
}

.abt h2 {
    font-style: italic;
    font-family: monospace;
    color: rgb(230, 36, 155);
}